*{
    margin: 0;
}
html, body{
    min-height: 100vh;
}
body{
    display: grid;
    place-content: center;
}

.wrapper{
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;/* deze code zorgt ervoor dat alle content/ingredienten binnen het wrapper-blok blijven en nooit er uit steken */
}

.welkom{
    background-color: beige;
    text-align: center;
    height: 20vh;
    padding: 40vh 0;
}

.bedankt{
    background-color: beige;
    text-align: center;
    height: 20vh;
    padding: 40vh 0;
}
.intro{
    text-align: center;
    padding:30px;
}

.cluster-ingredienten{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.cluster-ingredienten-eind{
    width: 200px;
    float: left;
}


.eindgerecht{
    width: 500px;
    height: 512px;
    margin: 27px;
    background-color: gold;
    float: left;
}

.eindprijs{
    width: 200px;
    height: 512px;
    margin: 27px;
    background-color: blue;
    float: left;
}

/* BUTTONS VORIGE EN VOLGENDE */
.volgende{
    background-color: green;
    color:white;
    font-size: 25px;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    position: absolute;
    bottom:50px;
    right:50px;
    text-decoration: none;
    cursor: pointer;
}

.vorige{
    background-color: green;
    color:white;
    font-size: 25px;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    position: absolute;
    bottom:50px;
    left:50px;
    text-decoration: none;
    cursor: pointer;
}

.prijs{
    position: absolute;
    bottom:-20px;
    right:-20px;
    padding: 10px;
    background-color: gold;
}
.bord{
    width: 400px;
    height: 40px;
    margin:0 auto;
    background-color: red;
    position: relative;
    transform: translate(0,400px);
    z-index: 1; /* deze code zorgt voor stapeling. Als de z-index van bord lager is dan van ingredient ligt het ingredient voor het bord. */
}
/************************************************************* INGREDIENTEN in keuze pagina's en overzicht pagina*/
/* dit geldt voor alle ingredienten */
.ingredient{
    width: 150px;
    height: 150px;

    position: relative;

    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 2; /* deze code zorgt voor stapeling. Als de z-index van bord lager is dan van ingredient ligt het ingredient voor het bord. */
}
/******** INGREDIENTEN OP PAGINA 1 */
.ingredient1{
    background-color: red;
}

.ingredient2{
    background-color: blue;
}

.ingredient3{
    background-color: green;
}
/******** INGREDIENTEN OP PAGINA 2 */
.ingredient4{
    background-color: red;
}

.ingredient5{
    background-color: blue;
}

.ingredient6{
    background-color: green;
}
/******** INGREDIENTEN OP PAGINA 3 */
.ingredient7{
    background-color: red;
}

.ingredient8{
    background-color: blue;
}

.ingredient9{
    background-color: green;
}

.ingredient-overzicht{
    margin: 15px 30px;
    background-color: red;
}

/*
op de keuzepagina's staan ingredient divs
in die divs zitten verborgen radio-buttons, zoals dat heet, dat zijn keuze mogelijkheden.
Ze zijn verborgen omdat ze wel moeten werken maar niet te zien moeten zijn
Zijn ze gekozen dan krijgen deze ingredienten een CSS-animatie
*/
.ingredient input[type="radio"]{
    display: none; /* hier wordt de radio-button verborgen. Zet je dit uit, dan zie je een keuzerondje */
}

.ingredient1:has(input[type="radio"]:checked){ animation-name: ingredient1ani; }
.ingredient2:has(input[type="radio"]:checked){ animation-name: ingredient2ani; }
.ingredient3:has(input[type="radio"]:checked){ animation-name: ingredient3ani; }
.ingredient4:has(input[type="radio"]:checked){ animation-name: ingredient4ani; }
.ingredient5:has(input[type="radio"]:checked){ animation-name: ingredient5ani; }
.ingredient6:has(input[type="radio"]:checked){ animation-name: ingredient6ani; }
.ingredient7:has(input[type="radio"]:checked){ animation-name: ingredient7ani; }
.ingredient8:has(input[type="radio"]:checked){ animation-name: ingredient8ani; }
.ingredient9:has(input[type="radio"]:checked){ animation-name: ingredient9ani; }

/************************************************************* keyframe ANIMATIES */
@keyframes ingredient1ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(341px,450px);}
}   

@keyframes ingredient2ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(0,450px);}
}

@keyframes ingredient3ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(-342px,450px);}
}

@keyframes ingredient4ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(341px,450px);}
}

@keyframes ingredient5ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(0,450px);}
}

@keyframes ingredient6ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(-342px,450px);}
}

@keyframes ingredient7ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(341px,450px);}
}

@keyframes ingredient8ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(0,450px);}
}

@keyframes ingredient9ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(-342px,450px);}
}